@font-face {
    font-family: 'Roboto';
    src: url('required/Roboto/Roboto-Medium.ttf');
}
body{
	font-family: 'Roboto', 'sans-serif';
	font-size:18px;
	overflow:hidden;
	
}
a:link{color:inherit;text-decoration:underline;}
a:visited{color:inherit;}
a:hover {color:black; text-decoration:underline;}

#title{
	width:100%;
	position:relative;
	float:top;
	letter-spacing:5px;
	height:80px;
}
#title-text{
	font-size:32px;
	margin-left:20px;
	margin-top:10px;
	position:relative;
	float:top;
	width:1000px;
}
#title-nav{
	font-size:12px;
	z-index:99;
	cursor:pointer;
	text-align:left;
	top:40px;
	position:absolute;
	left:20px;
}

#title-info{
	width:15px;
	height:15px;
	border-radius:50%;
	font-size:10px;
	line-height:160%;
	background-color:#000;
	position:relative;
	float:right;
	text-align:right;
	margin-right:10px;
	color:#fff;
}
#skipAnimation{
	position:relative;
	float:right;
	margin-right:30px;
	font-size:12px;
}
#navLabel{
	width:40px;
	height:20px;
	margin-left:20px;
	top:40px;
	position:absolute;
}
#main{	
}
#top-nav{
	position:absolute;
	top:580px;
	font-size:10px;
	left:25px;
	z-index:99;
	cursor:pointer;
}
#main-nav{
	width:50px;
	position:absolute;
	top:100px;
	margin-left:15px;
}
#main-viz{
	width:800px;
	height:500px;
	position:absolute;
	top:100px;
	left:30px;
	cursor:pointer;
}

#arcs {
	position:relative;
	width:800px;
	height:500px;
}
#arcs svg {
	position:absolute;
	top:0px;
	left:0px;

}
#calendar{
	position:relative;

}
#details{
	font-size:10px;
	width:400px;
	height:100%;
	margin-left:20px;
	position:absolute;
	top:20px;
	right:0px;
	overflow:auto;
}
#ageLabel{
	position:absolute;
	top:590px;
	left:58px;
	font-size:10px;
	cursor:pointer;
}
#footnote{
	position:absolute;
	bottom:20px;
	left:20px;
	font-size:12px;
}