body{
	font-family: 'Roboto', 'sans-serif';
	font-size:18px;
	
}
a:link{color:inherit;}
a:visited{color:inherit;}
a:hover {color:black; text-decoration:underline;}

#title{
	width:100%;
	position:relative;
	float:top;
	letter-spacing:5px;
	height:80px;
}
#title-text{
	font-size:24px;
	margin-left:20px;
	margin-top:10px;
	position:relative;
	float:top;
	width:1000px;
}
#title-nav{
	font-size:24px;
	z-index:99;
	cursor:pointer;
}
.menu-calendar{
	position:absolute;
	top:0px;
	right:30px;
}
.menu-map{
	position:absolute;
	top:0px;
	right:120px;
}
#title-info{
	width:15px;
	height:15px;
	border-radius:50%;
	font-size:10px;
	line-height:160%;
	background-color:#000;
	position:relative;
	float:right;
	text-align:right;
	margin-right:10px;
	color:#fff;
}
#navLabel{
	width:40px;
	height:20px;
	margin-left:20px;
	top:40px;
	position:absolute;
}
#main{
	
}
#top-nav{
	position:absolute;
	top:540px;
	font-size:10px;
	left:25px;
	z-index:99;
	cursor:pointer;
}
#main-nav{
	width:50px;
	position:absolute;
	top:50px;
	margin-left:20px;
}
#main-viz{
	width:1000px;
	position:absolute;
	top:50px;
	left:30px;
	cursor:pointer;
}
#details{
	font-size:12px;
	height:200px;
	width:90%;
	margin-left:20px;
	position:absolute;
	top:570px;
	overflow:auto;
}
#ageLabel{
	position:absolute;
	top:550px;
	left:55px;
	font-size:10px;
	cursor:pointer;
}
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  stroke: #000;
  shape-rendering: crispEdges;
}